
.portfolio__container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    
}



.portfolio__itemj {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:red;
}

.portfolio__item-image {
    
   width:30rem;
   height:auto;
   margin-top:2rem;
}

.portfolio__image {
    width: 25rem;
    height: auto;
    border-radius:1rem;
    object-fit: cover;
}

.portfolio-div-parent{
    display:flex;
    justify-content:center;
align-items:center;
    width:25rem;
    margin-top:1rem;
    margin-bottom:1rem;
}
.portfolio__child{
    display:flex;
justify-content:center;
align-items:center;
    gap:1rem;
    width:80%;
}
.portfolio__item-cta{
display:flex;
gap:1rem;
margin-top:1rem;
text-align:center;
}

@media only screen and (max-width:900px) {
    .portfolio__child{grid-template-columns:1fr;}
    h3{
        margin-top:1.3rem;
        font-size:2.8rem;
    }

    .portfolio__item-cta{
        display:flex;
        gap:1rem;
        margin-top:1rem;
        text-align:center;
        height:auto;
        }
    .btn{font-size:1.3rem;}
    .text-light{
        font-size:1.2rem;
    }
    .portfolio__item{
        margin-bottom:2rem;
    }
}
@media only screen and (max-width:600px) {
    h3{
        margin-top:1.3rem;
        font-size:1.5rem;
    }
}
