headers{
    height:100vh;
    padding-top:7rem;
    padding-bottom:7rem;
}
.about__me-images{
    border-radius:1rem;
    width:20rem;
    border-radius:10rem 10rem 0 0;

    margin-bottom:2rem;
    margin-top:1rem;
    height:20rem;
}
.header__div{
    display:flex; 
    align-items:center;
    justify-content:center;
}
.header__text{
    text-align:center;
     margin-top:4rem;
     display:flex; 
     align-items:center;
     justify-content:center;
}
.header__cointainer{
    display:flex;
    align-items:center;
    justify-content:center;
    width:50%;
    height:100%;
    background: var(--color-primary);
    border-radius:12rem 12rem 0 0;
    margin-top:4rem;
   
}
.scroll__down{
    position:absolute;
    right:-.3rem;
    margin-top:4rem;
    margin-right:4rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


.cta{
    display:flex;
    justify-content:center;
margin-top:2.5rem;
gap:1rem;
}
.header__socials{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left:0;
    margin-left:4rem;
}

.me{
    
    
    
left:calc(50% -11rem);
border-radius:12rem 12rem 0 0;
}

.header__socials::after{
    content:'';
    width:1px;
    height:2rem;
    background: var(--color-primary);
}

@media only screen and (max-width:1000px) {
    .header__socials{
        display:none;
    }
    .scroll__down{
        display:none;
    }
    .about__me{
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
@media only screen and (max-width:1000px) {
.about__me{
        width:60%;

    }
    .text-light{
        font-size:2.3rem;
    }
    h1{
        font-size:3.5rem;
    }
.about__me-images{
    width:90%;
    height:90%;

}
    .about__image{
        border-radius:2rem;
        display:flex;
        justify-content:center;
        align-items:center;
        height:100%;
        width:100%;
      

    }
    
   
}
@media only screen and (max-width:600px) {
    .about__me{
            width:60%;
    
        }
        .text-light{
            font-size:1.3rem;
        }
        h1{
            font-size:2rem;
        }
    .about__me-images{
        width:90%;
        height:90%;
    
    }
    .btn{
        height:10%;
        font-size:1.1rem;
    }
        .about__image{
            border-radius:2rem;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100%;
            width:100%;
          
    
        }
       
    }