.experience__container{
display:grid;
grid-template-columns:1fr 1fr;
gap:2rem;
}
.experience__container > div{
    background: var(--color-bg-variant);
    padding:2.4rem 5rem;
    border-radius:2rem;
    border:1px solid transparent;
    transition: var(--transition);

}

.experience__container > div:hover{
    background:transparent;
    border-color:var(--color-primary-variant);
    cursor:default;
}
.experience__container > div h3{
    text-align:center;
    margin-bottom:2rem;
    color:var(--color-primary);
}
.experience__content{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap: 6rem;
    row-gap: 2rem;
}
.experience__details{
    display:flex;
    margin-top:2.2rem;
    gap:1rem;
}
.experience__details1{
    display:flex;
    margin-top:2.2rem;
    margin-left:8rem;
    gap:1rem;
}
.experience__details-icon{
    margin-top:6px;
    color:var(--color-primary);
}

@media screen and (max-width:1024px) {
    .experience__container{
        grid-template-columns:1fr;

    }
    .experience__content{
        padding:2rem;
    }
    .experience__container > div{
             width:80%;
             padding:2rem;
             margin:0 auto;
    }
}
@media screen and (max-width:1000px) {
    .experience__container{
        gap:1rem;

    }
    .experience__details-icons{
        font-size:1.6rem;
    }
    
    
    .experience__content1{
        
        width:25%;
    }
    .experience__content2{
        width:25%;
    }
    .experience__flex{
        display:flex;
        justify-content:center;
    }
    .backend__div{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .text-header{
        font-size:2.3rem;
    }
    
    .text-light{
        font-size:2rem;
    }
    .experience__container > div{
             width:100%;
             padding:2rem 1rem;
    }
}